<!DOCTYPE html>
<title>Flaskr</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
<!-- Template HTML 에서는 layout을 지원합니다. -->
<!-- 사이트 전체의 변하지 않는 부분과 변하는 부분을 지정합합니다. -->
<div class="page">
  <h1>Flaskr</h1>
  <div class="metanav">
    {% if not session.logged_in %}
      <a href="{{ url_for('login') }}">log in</a>
    {% else %}
      <a href="{{ url_for('logout') }}">log out</a>
    {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  <!-- block 이라는 템플릿 문법이 실제로 변하는 부분을 가리킵니다. -->
  {% block body %}{% endblock %}
</div>
